@model IEnumerable<LoginDemo.Models.Cliente>

@{
    ViewData["Title"] = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cliente</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESPECIAL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESPECIAL)
            </td>
            <td>
               @Html.ActionLink("Detalhes", "ClienteDetalhe", new { item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
